doctype html
html(lang="en")
  include ../components/head
  block head
    style

  body#full-width-layout
    include ../components/nav
      style.
        #navbar {
          position: fixed;
          width: 100%;
          top: 0;
          left: 0;
          right: 0;
          z-index: 99;
        }
        #content {
          margin-top: 60px;
          width: 98%;
          padding-left: 220px;
        }
        #left-nav {
          position: fixed;
          background:#eee;
          top: 60px;
          left: 0;
          width: 200px;
          bottom: 0;
        }
        #left-nav h2,
        #left-nav h3,
        #left-nav h4 {
          margin: 20px 10px 10px;
        }
        #left-nav a {
          color: rgb(60,60,60);
        }
        #left-nav .left-menu  {
          list-style: none;
          padding: 0;
        }
        #left-nav .left-menu li {
          margin: 0;
          padding: 0;
        }
        #left-nav .left-menu li.menu-item > a {
          display:block;
          padding: 15px;
          cursor: pointer;
          border-top: 1px solid rgba(0,0,0,.1);
        }
        #left-nav .left-menu li.menu-item > a.active {
          background-color: #fff;
        }
        #left-nav .left-menu li.menu-item > a:hover {
          background-color: #d99c18;
          border-color: #d99c18;
          text-decoration: none;
          color:#fff;
        }
        .display-content {
          cursor: pointer;
        }
        .jq-toast-wrap {
          z-index: 1051;
        }
        .table > tbody > tr > th,
        .table > tbody > tr > td {
          vertical-align: middle
        }
        .table > tbody > tr > th {
          font-weight: 500;
        }

    #left-nav
      block leftNav
      
    #content
      .container-fluid(style='padding:0')
        block content

      .row
        .col-sm-12
          include ../components/foot

          block foot
