//- NAVBAR COMPONENT

#navbar.navbar.navbar-inverse.depth-1
  .collapse.navbar-collapse
    .nav.navbar-nav
      a(href='#{navhome}')
        img#logo(
          src='https://s3.amazonaws.com/lauren-public/public/imgs/eating.jpg',
          alt='Diabetes Logs',
          )
      - if (breadcrumbs)
        - each crumb in breadcrumbs
          img(src='https://s3.amazonaws.com/lauren-public/public/imgs/breadcrumb-next.svg').crumb-img
          .crumb
            - if (crumb.href)
              a(href= crumb.href)
                = crumb.text
            - else
              = crumb.text
