nav.navbar.navbar-inverse.depth-1(style='margin-bottom:0;background:#339CCC;border:0;z-index:3;border-left: 2px solid #339CCC;')#navbar
  .container-fluid(style='padding-left:0')
    .col-sm-2(style='background:#339CCC;border:1px solid #339CCC').text-center
      a(href="/")
        img#logo(src='/public/imgs/pi-logo-white-flat.png' alt="Point Inside", style='height:70px;padding:15px')

    .col-sm-10
      h2(style='margin:5px 0 0;line-height:60px;color:#fff')
        block pageTitle
