extends layouts/default.jade

block content
  .container
    .row
      .col-sm-12
        h1 Logs for Diabetes Management
        hr
        div 
    .row
      .col-sm-12
        a.btn.btn-info(href='/record') Manage day-to-day records
        hr
      .col-sm-12
        a.btn.btn-info(href='/topics') Manage record-keeping choices
        hr
