/* Firework JS */
.messages.overlay {
  box-shadow: 0 1px 3px rgba(0,0,0,.3);
  left: 30%;
  font-weight: 100;
  opacity: 0;
  padding: 5px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 30%;
  z-index: 1000;
}

.messages.overlay.success {
  background-color: rgba(124,186,15,.85);
  border-color: rgba(124,186,15,.8);
  color: #fff
}
.messages.overlay.danger {
  background-color: rgba(196,6,0,.85);
  border-color: rgba(196,6,0,.85);
  color: #fff
}
.messages.overlay {
  background-color: rgba(136,136,136,.85);
  border-color: rgba(136,136,136,.85);
  color: #fff
}
.messages.info {
  background-color: rgba(50, 155, 168, 0.85);
  border-color: rgba(50, 155, 168, 0.85);
  color: rgba(17, 49, 53, 0.85)
}