extends ../layouts/default

block content
  .container
    .row
      .col-sm-6.col-sm-offset-3.text-center
        .well
          h2 
            i.fa.fa-empire.fa-5x.danger
            hr
            | Not Found
            p.lead The page you tried to access does not exist.
