extends ../layouts/default
block content
    .container
        .row
            .col-sm-6.col-sm-offset-3.text-center
                .well
                    h2 
                        i.fa.fa-empire.fa-5x.danger
                        hr
                        if (error && error.responseCode)
                            span= error.responseCode
                        |  Error
                    
                    if (error)
                        p.lead= error.toString().replace('Error:', '')
                    else
                        p.lead There was an error with your request.
                        
                    // If a 403, give them a way out
                    if (error && error.statusCode === 403)
                        a(href="#", onClick="history.go(-1); return false;").btn
                            i.fa.fa-caret-left.muted
                            |  Go Back
                        if (user)
                            a(href="/logout").btn
                                i.fa.fa-sign-out.muted
                                |  Logout
